body{
    display: grid;
	place-items: center;
    font-family: 'Poppins', sans-serif;
    
}
.form{
    background-color: rgb(57, 15, 97);
    display: flex;
    width: 400px;
    height:500px;
    border-radius: 50px;
    align-items: center;
    display: grid;
	place-items: center
}
.container{
    background-color: rgb(243, 174, 174);
    border-radius: 50px;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 400px;
    display: grid;
	place-items: center  
}
.put{
    border-radius: 50px;
    display: grid;
	place-items: center;
    padding: 5px;
    margin: 5px;
}
label{
    padding: 15px;
}
